.buttons {
  display: flex;
  flex-flow: row wrap;
  width: 166px;
  height: 228px;
}

.buttons button {
  all: unset;
  background-color: rgb(53, 53, 53);
  padding: 5% 8.4%;
  border: .12rem solid black;
  border-radius: 3px;
  font-weight: bold;
  margin: 4%;
  transition: 0.2s;
}

.buttons button:hover {
  cursor: pointer;
}

.buttons button:active {
  transform: rotateX(-30deg) translateY(3px);
}

.zeroStart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons button:last-of-type {
  width: 39%;
  font-size: 16px;
}